extends layout

block layout-content
    div.View6        
        if (!Array.isArray(dbresults) || !dbresults.length)
            h4(style='color : orange') Error occured : #{dberr}
            h6(style='color : red') Unknown error : #{err}
        else 
            table
                th System Information
                tr
                tr
                    th Server Name
                    th Server Port
                    th Server Type
                each dbresult in dbresults
                    tr
                        td=dbresult.sysinfo.hosts.name
                        td=dbresult.sysinfo.hosts.port
                        td=dbresult.sysinfo.hosts.type
                        td=dbresult.sysinfo.hosts.status